.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page img {
  max-width: 500px;
}

.page p {
  max-width: 500px;
}

.cost {
  width: fit-content;
}

.card {
  margin: 20px;
}

.card ul {
  margin-left: 0;
  padding-left: 20px;
}

@media screen and (max-width: 425px) {
  .card ul {
    list-style-type: none;
    padding-left: 0;
  }

  .cost {
    font-size: 0.9rem;
  }
  .card {
    margin: 1px;
  }
}

.rating {
  width: 400px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
